<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question with one answer</title>
</head>
<body>
        <form action="/the-question" method = "GET" id = "form">
            <label for="taquestion">Give me a question:</label>
            <textarea name="taquestion" id="taquestion" cols="30" rows="2" placeholder="your question here" required></textarea>
            <br>
            <br>
            <label for="select">Set the only answer</label>
            <select name="select" id="select">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
            <br><br>
            <button type="submit">SUBMIT</button>
        </form>
</body>
</html>